
.list-group.hlist-group{
	margin-top:50px;
	padding:5px;
	text-align: center;
}
.list-group.hlist-group a{
	color: rgb(230,230,230);
	font-size: 20px;
	font-family: ¸¼Àº °íµñ;
}
.col-md-9.hcol-md-9{
	margin-top:50px;
	padding:5px;
}
.list-group-item{
	background-color: gray;
}
.thumbnail{
	background-color: gray;
}

.thumbnail.hthumbnail:HOVER{
	outline-style: solid;
	outline-color: rgb(166,136,155);
	outline-width: 6px;
}
.hyuna1{
	background-color: rgb(180,180,180);
}
.ratings{
	color: rgb(217,217,217);
}
