<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puco.category.dao.category-mapper">
	<select id="DcategoryAllData" resultType="Dcategory">
		SELECT Dno,Dname
		FROM Dcategory
	</select>
	
	<select id="ScategoryAllData" resultType="Scategory" parameterType="int">
		SELECT Sno,Sname
		FROM Scategory
		WHERE Dno=#{no}
	</select>
</mapper>