<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puco.board.dao.board-mapper">
	<sql id="where-no">
		WHERE bno=#{bno}
	</sql>

	<select id="boardAllData" resultType="QBoard" parameterType="java.util.Map">
		SELECT bno,bsubject,MB.Mno as mno,bdate,bhit,bvote,T1.tgName as tag1, T2.tgName as tag2, T3.tgName as tag3, MT.mid as userid,(SELECT COUNT(*) FROM answer WHERE
		MB.bno=answer.bno) as answer
		FROM (SELECT bno,bsubject,mno,bdate,bhit,bvote,tgno1, tgno2, tgno3,num FROM
		(SELECT bno,bsubject,mno,bdate,bhit,bvote,tgno1, tgno2, tgno3,rownum as num
		FROM(SELECT bno,bsubject,mno,bdate,bhit,bvote,tgno1, tgno2, tgno3
		FROM mainboard 
		WHERE BTno=1
		ORDER BY rownum DESC))
		WHERE num BETWEEN #{start} AND #{end}) MB
		LEFT JOIN
		tag t1
		on T1.tgno = mb.tgno1
		LEFT JOIN tag t2
		on T2.tgno = mb.tgno2
		LEFT
		JOIN tag t3
		on T3.tgno = mb.tgno3
		LEFT JOIN pucomember MT
		on MT.mno =mb.mno
		order by bno desc
		
	</select>

	<select id="boardRowCount" resultType="int">
		SELECT COUNT(*) FROM
		mainboard WHERE btno=1

	</select>

	<select id="getContentData" resultType="Qboard" parameterType="int">
		SELECT bsubject,MB.Mno,bdate,bhit,bcontent,bvote,T1.tgName as tag1,
		T2.tgName as tag2, T3.tgName as tag3, MT.mid as userid,
		(SELECT
		COUNT(*) FROM answer WHERE MB.bno=answer.bno) as answer
		FROM mainboard
		MB
		LEFT JOIN tag t1
		on T1.tgno = mb.tgno1
		LEFT JOIN tag t2
		on T2.tgno =
		mb.tgno2
		LEFT JOIN tag t3
		on T3.tgno = mb.tgno3
		LEFT JOIN pucomember MT
		on MT.mno = mb.mno
		<include refid="where-no" />
	</select>

	<update id="incrHit">
		UPDATE mainBoard SET
		bhit=bhit+1
		<include refid="where-no" />
	</update>

	<insert id="boardInsert" parameterType="Qboard">
		INSERT INTO
		MainBoard(Bno,Mno,Bsubject,Bcontent,BTno,TGno1,Tgno2,Tgno3)
		VALUES((SELECT NVL(MAX(bno)+1,1) FROM MainBoard),
		#{mno},#{bsubject},#{bcontent}, 1, #{tgno1},#{tgno2},#{tgno3})
	</insert>

	<select id="getAnswerData" resultType="Answer" parameterType="int">
		SELECT answer.Mno,rno,rdate,rhit,rcontent,MT.mid as userid
		FROM Answer
		LEFT JOIN pucomember MT
		on MT.mno = answer.mno
		<include refid="where-no" />
	</select>

	<update id="bVoteUp" parameterType="int">
		UPDATE MainBoard SET
		bvote = bvote+1
		<include refid="where-no" />
	</update>
	<update id="aVoteUp" parameterType="java.util.Map">
		UPDATE answer SET
		rhit = rhit+1
		<include refid="where-no" />
		AND rno=#{rno}
	</update>

	<update id="bVoteDown" parameterType="int">
		UPDATE MainBoard SET
		bvote = bvote-1
		<include refid="where-no" />
	</update>
	<update id="aVoteDown" parameterType="java.util.Map">
		UPDATE answer SET
		rhit = rhit-1
		<include refid="where-no" />
		AND rno=#{rno}
	</update>
	<insert id="insertAnswer" parameterType="Answer">
		INSERT INTO Answer(Rno,
		Rcontent,Bno,Mno)
		VALUES((SELECT NVL(MAX(Rno)+1,1) FROM Answer),
		#{rcontent},#{bno}, #{mno})
	</insert>

	<!-- main -->
	<select id="getMainQnaData" resultType="Qboard" parameterType="java.util.Map">
		SELECT bsubject,MB.Mno as mno, MT.mid as userid,bno
		FROM (SELECT bno,bsubject,mno,num FROM
		(SELECT bno,bsubject,mno,rownum as num
		FROM(SELECT bno,bsubject,mno
		FROM mainboard
		WHERE BTno=1
		ORDER BY rownum DESC))
		WHERE num BETWEEN #{start} AND #{end}) MB
		LEFT JOIN pucomember MT
		on MT.mno =mb.mno
		order by bno desc
		
	</select>

</mapper>









