<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.board.dao.board-mapper">
<sql id="where-no">
	WHERE no=#{no}
</sql>
<select id="boardAllData" resultType="Board" parameterType="java.util.Map">
	SELECT no,subject,name,regdate,hit,num
	FROM (SELECT no,subject,name,regdate,hit,rownum as num
	FROM (SELECT no,subject,name,regdate,hit
	FROM replyBoard ORDER BY no DESC))
	WHERE num BETWEEN #{start} AND #{end}
	
</select>