#table_content{
   border-collapse: collapse;
   border-top-width: 2px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-top-style: solid;
   border-bottom-color: #333;
   border-top-color: #333;

}
#table_content th,td{
   margin: 0px;
   padding: 8px;
   font-size: 9pt;
}
#table_content th{
   background-color: #1c1d26;
   color:#ffffff;
   border-bottom-width: 1px;
   border-bottom-color: #333;
   text-align: center;
}
#table_content td{
   border-bottom-width: 1px;
   border-bottom-color: #666;
   border-bottom-style: dotted;
}
#table_content .dataTr:HOVER {
   background-color:#1abc9c;
   cursor: pointer;
   cursor: hand;
   color:#ffffff;
}
#table_content .dataTd:HOVER {
   background-color: #FC6;
   cursor: pointer;
   cursor: hand;
}
#table_content .tdcenter{
   text-align: center;
}
#table_content .tdleft{
   text-align: left
}
#table_content a{
   text-decoration: none;
   color:black;
}
#table_content a:HOVER {
   text-decoration: underline;
   color:#FFF;
}
a{
   text-decoration: none;
   color:black;
}
a:HOVER {
   text-decoration: underline;
   color:#CCFFCC;
}
