<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puco.member.dao.member-mapper">
	<!-- ID check -->
	<select id="memberIdCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM pucoMember
		WHERE mid=#{id}
	</select>
	<select id="memberGetpwd" resultType="Member" parameterType="String">
		SELECT mid,mpwd,memail FROM pucoMember
		WHERE mid=#{id}
	</select>
</mapper>