@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=verdana);

/* reset */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#ffffff; }
img { border:0;}
body { font:12px/1.6 xxx'Poiret One'; color:#1c1d26; } 
table { table-layout: fixed}

/*레이아웃*/
header { position:fixed; width:15%; height:100%; background:#1c1d26; top:0px; left:0px;}
section { width:85%; position:relative; margin-left:15%;}
article { float:left; height:auto;}
article:nth-child(1) { width:100%; height:60vh; background:#a9d8be;}
article:nth-child(2) { width:100%; height:10vh; background:#ffffff;  margin-left: 100px;}
article:nth-child(3) { width:30%; height:40vh; background:#ffffff; text-align: "center"; margin-left: 100px;}
article:nth-child(4) { width:30%; height:40vh; background:#ccc; text-align: "center";}
article:nth-child(5) { width:30%; height:40vh; background:#ffffff; text-align: "center";}



@keyframes scale {
	0% { transform:scale(0); }	
	100% { transform:scale(1); }
}
article>div { position:relative; width:100%; height:100%; overflow:hidden;}

/* header 컨텐츠 */
header h1 { width:400px; height:136px; background-size:contain; position:absolute; top:5px;	left:20px; font-size:20pt;}
header h1 a:hover{color:#e44b66; text-decoration: none}
#gnb { position:absolute; top:300px; right:65px;}
#gnb a {padding:8px 30px;	font-size:17px; font-weight:bold;text-align:left; line-height:1.8; transition:all .5s; width: 100%;}
#gnb a:hover{color:#e44b66; text-decoration:none;}
#gnb .dropdown a{color:#ffffff; text-decoration: none;  width: 100%;}
#gnb .dropdown a:hover { color:#e44b66; text-decoration: none;}
#gnb .dropdown-menu a{color:#1c1d26;}
#gnb .dropdown-menu a:hover{color:#e44b66;}
#gnb a i { margin-right:13px;}

.snsSet { width:90px;	height:47px;	position:absolute; bottom:50px; right:50%; margin-right:-45px;}
.snsSet a { float:left;}

/*nav*/
nav a:hover {color:#1c1d26;}
nav a:nth-child(1) {	position:absolute; right:150px;}
nav a:nth-child(2) {	position:absolute; right:10px;}
article>div { position:relative; width:100%; height:100%; overflow:hidden; }

/* login css */
.joinok a{color:#ffffff;}
.logininok a{color:#ffffff;}


/* Main QnAboard */
#qnaboard th{width:100%;}
#qnaboard th.no{width:5%;}
#qnaboard th.title{width:75%;} 
#qnaboard th.id{width:20%;}  
#qnaboard a{color:black;}
#qnaboard a:HOVER{color:#e44b66; text-decoration: none;}
#col-line1 {width:50%;}

/* Main freeboard */
#fboard th{width:100%;}
#fboard th.no{width:5%;}
#fboard th.title{width:75%;} 
#fboard th.id{width:20%;}  
#fboard a{color:black;}
#fboard a:HOVER{color:#e44b66; text-decoration: none;}
#col-line2 {width:50%;}

#mainc {width:80%; margin-top: 50px;}
.caption h4{white-space: nowrap;
    OVERFLOW: HIDDEN;
    TEXT-OVERFLOW: ellipsis;
    font: bold;}
    
.btn:hover{color:#e44b66;}

.control-box {margin-top:10px;}
.prev {margin-right: 30px;}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}


@media screen and (min-width:1280px) {  
	
	/*레이아웃*/
	header { position:relative; width:100%; height:80px;}
	nav { width:100%; margin-left:0%;}		
	section { width:100%; margin-left:0px;}	
	
	/* header 컨텐츠 */
	header h1 { width:400px; height:40px; left:20px; margin-left:0px;}
	header h1 a {color:#ffffff}
	#gnb { top:20px; right:60px;}	
	#gnb li { float:left;}
	.snsSet { bottom:20px; right:80px;}
	
	/* board */	
	.mainQna a:hover{color:#e44b66;}
			
}
@media screen and (min-width:1024px) and (max-width:1279px) {  
	
	/*레이아웃*/
	header { position:relative; width:100%; height:80px;}
	nav { width:100%; margin-left:0%;}		
	section { width:100%; margin-left:0px;}		
	article:nth-child(1) { width:70%; height:60vh; background:#ff9f9f;}
	article:nth-child(2) { width:30%; height:30vh; background:#ccc;}
	article:nth-child(3) { width:30%; height:30vh; background:#ccc;}
	article:nth-child(4) { width:70%; height:30vh; background:#ccc;}
	article:nth-child(5) { width:30%; height:30vh; background:#999;}
	article:nth-child(6) { width:100%; height:5vh; background:#888;}
	
	/* header 컨텐츠 */
	header h1 { width:200px;	height:40px;	background-image:url(../img/logo2.png);	top:20px;	left:20px;	margin-left:0px;}
	#gnb { top:10px; right:10px;}	
	#gnb li { float:left;}	
	.snsSet {	display:none;}
	
	
	
}
@media screen and (min-width:780px) and (max-width:1023px) {  
	
	/*레이아웃*/
	header { position:relative; width:100%; height:80px;}
	nav { width:100%; margin-left:0%;}		
	section { width:100%; margin-left:0px;}		
	article:nth-child(1) { width:100%;	height:400px;}	
	article:nth-child(4) { width:100%;}	
	article:nth-child(2) { width:100%;}	
	article:nth-child(3) { width:100%;}	
	article:nth-child(5) { width:100%;}	
	article:nth-child(6) { width:100%;}	
	
	
	/* header 컨텐츠 */
	header h1 { width:200px;	height:40px;	background-image:url(../img/logo2.png); top:20px; left:20px; margin-left:0px;}	
	#gnb { top:20px; right:10px;}	
	#gnb li { float:left;}	
	#gnb a { padding:10px 10px;}		
	.snsSet { display:none;}	
}
@media screen and (min-width:640px) and (max-width:779px) {  
	
	/*레이아웃*/
	header { position:relative; width:100%; height:80px;}
	nav { width:100%; margin-left:0%;}		
	section { width:100%; margin-left:0px;}		
	article:nth-child(1) { width:100%;	height:400px;}
	article:nth-child(2) { width:100%;}	
	article:nth-child(3) { width:33.3333%; display:none;}	
	article:nth-child(4) { width:100%;	display:none;}	
	article:nth-child(5) { width:50%;}	
	article:nth-child(6) { width:50%;}	
	article:nth-child(7) { width:66.6666%; display:none;}	
	article:nth-child(8) { width:50%;}	
	article:nth-child(9) { width:50%;}	
	article:nth-child(10) { width:66.6666%; display:none;}	
	article:nth-child(11) { width:50%;}	
	article:nth-child(12) { width:50%;}	
	
	/* header 컨텐츠 */
	header h1 { width:200px;	height:40px;	background-image:url(../img/logo2.png); top:20px; left:20px; margin-left:0px;}	
	#gnb { top:20px; right:10px;}	
	#gnb li { float:left;}	
	#gnb a { padding:10px 10px;}	
	.snsSet { display:none;}	
	
}
@media screen and (min-width:480px) and (max-width:639px) {  
	
	/*레이아웃*/
	header { position:relative; width:100%; height:130px;}	
	nav { display:none;}
	section { width:100%; margin-left:0px;}
	article { height:150px;}		
	article:nth-child(1) { width:100%; height:300px;}		
	article:nth-child(2) { width:100%;}	
	article:nth-child(3) { width:100%;}	
	article:nth-child(4) { width:100%;}	
	article:nth-child(5) { width:100%;}	
	article:nth-child(6) { width:100%;}	
	
	/* header 컨텐츠 */
	header h1 { position:relative; top:5px; left:0px; width:200px; height:45px; background-image:url(../img/logo2.png); margin:0px auto;}
	#gnb { width:100%; height:40px; top:80px; right:0px;}	
	#gnb li { float:left; width:33%;}	
	#gnb a { padding:4px; text-align:center;}	
	.snsSet { display:none;}	
	
	article .bg1 span { font-size:120px; bottom:-50px;}	
	article .txt strong { font-size:25px;}
	article .txt em { display:none;}		
	
}
@media screen and (max-width:479px){

	/*레이아웃*/
	header { position:fixed; width:100%; height:40px; background-color:transparent; z-index:5;}
	nav { display:none;}	
	section { width:100%; margin-left:0px; z-index:4;}		
	article { display:none;}
	article:nth-child(1) { display:block; position:fixed; width:100%; height:100%;}	
	
	/* header 컨텐츠 */
	header h1 { top:20px; width:140px; margin-left:-70px;}	
	#gnb { width:250px; top:140px; right:50%; margin-right:-125px;}	
	#gnb a { width:100%; background:#000; box-sizing:border-box; margin:8px 0px; border-radius:10px; opacity:0.5; color:#fff;}	
	#gnb a:hover { opacity:1; transform:scale(1.1);}
	
	article:nth-child(1) span { display:none;}
}
