<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.puco.board.dao.QnaBoardVO" alias="QBoard"/>
		<typeAlias type="com.puco.board.dao.FreeBoardVO" alias="FBoard"/>
		<typeAlias type="com.puco.member.dao.MemberDTO" alias="Member"/>
		<typeAlias type="com.puco.board.dao.ReplyVO" alias="Reply"/>
		<typeAlias type="com.puco.board.dao.AnswerVO" alias="Answer"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
		<dataSource type="POOLED">
	
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@211.238.142.87:1521:ORCL" />
				<property name="username" value="scott" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/puco/board/dao/board-mapper.xml" />
		<mapper resource="com/puco/member/dao/member-mapper.xml" />
	</mappers>
</configuration>